.env
Storage
Agents\test_data
trash.py
Agents/agent_builder.ipynb
Blue_dream_agents/time-agent-v1.py
Blue_dream_agents/Tools/token.pickle 
Blue_dream_agents/Tools/credentials.json 
Blue_dream_agents/Tools/token.pickle 
Blue_dream_agents\object-detector(archive).py
hwo to run.txt
story.txt
old shit.txt
update_db.js